[gcode_macro _User_Variables]
variable_verbose: True
variable_filament_sensor_enable: True
# variable_xy_endstop_pos: 206.5,300
variable_park_position_xy: 150, 290
variable_park_lift_z: 50
variable_travel_speed: 350
variable_print_default_extruder_temp: 240
# variable_verbose: True
gcode:

# # Based on https://github.com/mainsail-crew/mainsail-config/blob/e4976f616e2c779218cdb0c60d2b967c917b6ec4/client.cfg#LL49C6-L49C6
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 285.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 308.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
# variable_cancel_retract   : 1.5   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 300.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_idle_timeout     : 1800     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_switch_sensor SFS_SWITCH_T0"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# !!! Custom macros, please use with care and review the section of the corresponding macro.
# These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
variable_verbose: False

# System
variable_stop_bg_services : False   # Stops host scheduled tasks during print to avoid high cpu/mem load 

# Print
variable_accel_factor: 1.0                   # Global Acceleration Factor (Scales the acceleration value set by the slicer) - can be adjusted during print with SET ACCEL FACTOR
variable_use_multi_bed_mesh_profiles: False  # PRINT_START tries matching existing bed mesh profiles with set bet temperature. REQ Profiles: "default", "75", "105"

# Quiet Mode (Qmode)          # To enable quiet mode, trigger the Qmode macro, or set MODE=SILENT in the slicer print start parameters
variable_q_fan_max: 100        # 0-100 % - All fan speeds are defined as percentages: 0-100 %
variable_q_fan_aux: 0         # Aux fan speed. Usually disabled in quiet mode
variable_q_link_aux: False    # Link aux fan to part fan, or keep it independent to be able to be turned off
variable_q_feedrate: 100      # 0-100 % - Print speed percentage 
variable_q_max_velocity: 200  # Caps max velocity
variable_q_max_accel: 7000   # Caps max accel
variable_q_accel_factor: 1.0  # Acceleration Multiplier - 0.5 = 50%
variable_q_min_cruise: 0.4    # Minimum distance to cruise
variable_q_scv: 5             # Max SCV
variable_q_stealthchop: False # Enable Stealthchop switching on TMC2240

gcode:


[gcode_macro _HEATSOAK_VARIABLES]
# heatsoak
variable_chamber_temperature_sensor_enabled: True
variable_chamber_temperature_sensor_name: 'chamber_temp'
variable_print_default_chamber_max_heating_time: 30
variable_verbose: True
gcode:
