[gcode_macro CHECK_NOZZLE_DIAMETER]
description: Check nozzle diameter on print start from printer config.
gcode:
   {% set NOZZLE_DIAMETER = params.NOZZLE_DIAMETER|float %}
   {% set CURRENT_NOZZLE_DIAMETER = printer.configfile.settings.extruder.nozzle_diameter|float %}

   ; Display the current and expected nozzle diameter
   RESPOND MSG="Current Nozzle Diameter: {CURRENT_NOZZLE_DIAMETER}mm / Expected: {NOZZLE_DIAMETER}mm"

   ; Compare the current nozzle diameter with the expected value
   {% if CURRENT_NOZZLE_DIAMETER != NOZZLE_DIAMETER %}
       ; Display an error message and pause the print
    #    {action_raise_error("Error: Incorrect Nozzle Diameter!")}
       # RESPOND TYPE=error MSG="Error: Incorrect Nozzle Diameter!"
        PAUSE
        RESPOND TYPE=command MSG="action:prompt_begin Invalid nozzle diameter"
        RESPOND TYPE=command MSG="action:prompt_text"
        RESPOND TYPE=command MSG="action:prompt_button_group_start"
        RESPOND TYPE=command MSG="action:prompt_button Change nozzle|INTERACTIVE_NOZZLE_CHANGE"
        RESPOND TYPE=command MSG="action:prompt_button_group_end"
        RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|CANCEL_PRINT|error"
        RESPOND TYPE=command MSG="action:prompt_show"
   {% endif %}

   ; If the nozzle diameter is correct, display a success message
   RESPOND MSG="Nozzle Diameter Verified: {CURRENT_NOZZLE_DIAMETER}mm"

# 