[mcu EBBCan]
# serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: de2f42d3cb5a

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan: PA2




# [extruder]
# step_pin: PE2
# dir_pin: PE3
# enable_pin: !PD4
# ##  Update value below when you perform extruder calibration
# ##  If you ask for 100mm of filament, but in reality it is 98mm:
# ##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
# ##  22.6789511 is a good starting point
# # rotation_distance: 22.679   #Bondtech 5mm Drive Gears
# # rotation_distance: 22.6789511   
# # rotation_distance: 22.6  
# # rotation_distance: 22.679 
# rotation_distance: 23.132 # latest
# gear_ratio: 50:10               #BMG Gear Ratio
# microsteps: 32
# full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
# nozzle_diameter: 0.400
# filament_diameter: 1.75
# heater_pin: PA2
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: PF4
# min_temp: 10
# max_temp: 270
# max_power: 1.0
# min_extrude_temp: 170
# # max_extrude_only_distance: 200
# ## for extruder calibration only
# max_extrude_only_distance: 101
# # min_extrude_temp: 10
# # https://ellis3dp.com/Print-Tuning-Guide/articles/troubleshooting/small_infill_areas_overextruded.html#things-to-try
# pressure_advance_smooth_time: 0.020

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan: PA3
control: pid
min_temp: 10
min_extrude_temp: 170
max_temp: 270
# https://ellis3dp.com/Print-Tuning-Guide/articles/troubleshooting/small_infill_areas_overextruded.html#things-to-try
pressure_advance_smooth_time: 0.020
max_extrude_only_distance: 101
rotation_distance: 23.132 # latest
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 32

# TODO : https://github.com/Esoterical/voron_canbus/blob/main/toolhead_flashing/common_hardware/BigTreeTech%20SB2209%20and%20SB2240/SB2240%20Stepper%20Configuration%20and%20Undervoltage.md
[tmc2240 extruder]
cs_pin: EBBCan: PA15
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
driver_TPFD: 0
run_current: 0.650
stealthchop_threshold: 999999

[fan]
# [fan_generic test_fan]
pin: EBBCan: PA1
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

# [fan_generic test_fan2]
# pin: EBBCan: PA0
# kick_start_time: 0.5
# ##  Depending on your fan, you may need to increase this value
# ##  if your fan will not start. Can change cycle_time (increase)
# ##  if your fan is not able to slow down effectively
# off_below: 0.10

# [heater_fan hotend_fan]
# pin: EBBCan: PA0
# heater: extruder
# heater_temp: 50.0

[heater_fan ebb_hotend_fan]
# pin: EBBCan: PB14 # 4 wire pwm
pin: EBBCan: PA0
# tachometer_pin: EBBCan: PB15
# tachometer_ppr: 1
heater: extruder
heater_temp: 50.0
fan_speed: 0.9

# [neopixel hotend_rgb]
# pin: EBBCan:PD3
