[gcode_macro ATTACH_PROBE]
rename_existing: _ATTACH_PROBE
gcode:
    { action_respond_info('Checking temp before attaching probe') }
    {% set PROBE_TEMP = 150 %}
    {% set FAN_TEMP = 50 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > FAN_TEMP or ACTUAL_TEMP > FAN_TEMP %}
      M106 S200
    {% endif %}

    # {% if TARGET_TEMP > MAX_TEMP or ACTUAL_TEMP > MAX_TEMP%}
    #   TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={MAX_TEMP}
    # {% endif %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{PROBE_TEMP}
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM={MAX_TEMP-2} MAXIMUM={MAX_TEMP + 5}
        {% endif %}
    {% endif %}
    _ATTACH_PROBE {rawparams}

[gcode_macro DOCK_PROBE]
rename_existing: _DOCK_PROBE
gcode:
    _DOCK_PROBE {rawparams}
    # TODO ONly if really undock
    M106 S0