[gcode_macro PRINT_START] 
gcode:
    {% set NOZZLE_DIAMETER = params.NOZZLE_DIAMETER %}
    {% set CHAMBER = params.CHAMBER|default(10)|int %}
    {% set BED     = params.BED|default(60)|int    %}
    {% set HOTEND  = params.EXTRUDER|default(220)|int %}
    {% set HEPH    = (0.8 * HOTEND)|round(0)|int   %}      ; 75% hotend preheat
    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
    {% set filament_sensor_enable = printer['filament_motion_sensor SFS_T0'].enabled %}

    CLEAR_PAUSE                                           ; reset pause state
    M220 S100                                   ; Reset speed factor 
    M221 S100                                    ; Reset extrude factor

    {% if NOZZLE_DIAMETER is defined %}
      CHECK_NOZZLE_DIAMETER NOZZLE_DIAMETER={NOZZLE_DIAMETER}
    {% else %}
      RESPOND MSG="Nozzle Diameter Ignored"
    {% endif %}

    {% if filament_sensor_enable %}
        SFS_DISABLE
    {% endif %}

    # preheat all the things
    M117 Preheating
    STATUS_HEATING
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED}   ; start bed heater
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={150}    ; start hotend heater for probing
    CANOPY_LED_PRINT                ; set canopy light to print brightness

    STATUS_HOMING
    _CG28                            ; warm home all

    STATUS_HEATING
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={HEPH}    ; start hotend heater

    G90                             ; absolute positioning
    G1 X{x_wait} Y{y_wait} Z25 F15000                    # Goes to center of the bed

    {% if params.BED|int > 90 %} 
      SET_DISPLAY_TEXT MSG="Heatsoaking chamber: {CHAMBER}c"           # Displays info
      M106 S255                     ; 75% print fan for extra warming
      # TEMPERATURE_WAIT SENSOR="temperature_sensor chamber_temp" MINIMUM={CHAMBER}
      HEATSOAK_CHAMBER TEMP={CHAMBER}
    {% endif %}

    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={HEPH-2}
    SET_DISPLAY_TEXT MSG="Cleaning nozzle"
    STATUS_CLEANING
    CLEAN_NOZZLE_SIMPLE                    ; warm nozzle scrub for cleaner z home - no purge

    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={150}    ; start hotend heater for probing
    M106 S255                               ; speed cooldown extruder
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={150 - 5} MAXIMUM={150 + 5}
    TEMPERATURE_WAIT SENSOR="heater_bed" MINIMUM={BED - 1} MAXIMUM={BED + 5}     ; bed full temp
    M106 S0

    # Second nozzle clean just before probing
    SET_DISPLAY_TEXT MSG="Cleaning nozzle"
    STATUS_CLEANING
    # SWIPE
    CLEAN_NOZZLE_SIMPLE

    ATTACH_PROBE_LOCK               ; keep klicky connected during next macros

    # gantry leveling
    SET_DISPLAY_TEXT MSG="Leveling gantry"
    STATUS_LEVELING
    BED_MESH_CLEAR

    {% if not printer.quad_gantry_level.applied %}
      QGTL                            ; double qgl = true level
    {% endif %}

    SET_DISPLAY_TEXT MSG="Auto-Z calibration"          # Displays info
    STATUS_CALIBRATING_Z
    G28 Z
    # CALIBRATE_Z                     ; klicky auto-z magic
    # SET_FRAME_COMP ENABLE=1         ; enable frame expansion compensation
    # SET_Z_THERMAL_ADJUST ENABLE=1  ; (new) frame expansion compensation

    SET_DISPLAY_TEXT MSG="Bed mesh"          # Displays info
    STATUS_MESHING
    BED_MESH_CALIBRATE ADAPTIVE=1             ; generate bed level mesh

    DOCK_PROBE_UNLOCK               ; klicky *must* be docked before nozzle scrub

    M106 S0                     ; speedup warming
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={HOTEND}  ; set hotend full temp

    ; enable filament sensor to trigger pause if no filament during purge
    {% if filament_sensor_enable %}
        SFS_ENABLE
    {% endif %}

    # GUARD_FILAMENT_SENSOR ON_FAIL="PAUSE X205 Y0.2 Z135"    ; Pause print if no filament detected
    # TODO Block rst 

    STATUS_HEATING
    G0 X290 Y290 Z15 F15000          ; quickly move over purge bucket
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={HOTEND}     ; hotend at full temp

    STATUS_CLEANING
    CLEAN_NOZZLE                    ; hot purge into bucket and final nozzle scrub
    # G0 X25 Y275 Z10 F15000          ; quickly move away from purge bucket

    STATUS_PRINTING                 ; stealthburner led control
    SET_DISPLAY_TEXT MSG="Printing"          # Displays info

    M106 S0                           ; reset fan speed

[gcode_macro PRINT_END] 
gcode:
    {% set filament_sensor_enable = printer['filament_motion_sensor SFS_T0'].enabled %}
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    {% if filament_sensor_enable %}
        SFS_DISABLE
    {% endif %}

    _TOOLHEAD_PARK_PAUSE_CANCEL
    _TIP_SHAPING PURGE=0

    G92 E0
    G1 E-20 F2100

    {% if printer.heater_bed.temperature > 95 %} 
        SET_FAN_SPEED FAN=nevermore SPEED=0.70      ; turn on nevermore (if it isn't already)
        RESPOND PREFIX=INFO MSG="Looks like it was ABS"
    {% endif %}

    TURN_OFF_HEATERS
    CANOPY_LED_FLASH
    STATUS_READY

    M107
    M400

    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0 

    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

    {% if filament_sensor_enable %}
        SFS_ENABLE
    {% endif %}

    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value

# ##  basic abs/asa preheat parameters
# [gcode_macro PREHEAT_ABS] 
# gcode:
#     STATUS_HEATING                  ; stealthburner led control
#     # NEVERMORE_START                 ; nevermore cleans and speeds up warming
#     M106 S128                       ; print fan for chamber warming
#     SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=100
#     SET_HEATER_TEMPERATURE HEATER=extruder TARGET=175
#     M117 Preheating


# [gcode_macro COOLDOWN]
# gcode:
#     TURN_OFF_HEATERS                ; turn off all heaters
#     UPDATE_DELAYED_GCODE ID=POST_PRINT_FANS DURATION=20     ; fans off after 20s
#     M84                             ; turn off steppers
#     CANOPY_LED_OFF                  ; turn off canopy lights
#     STATUS_OFF                      ; stealthburner led control


# ##  delayed gcode to stop the various CNC fans after a print ends
# ##  gets called by PRINT_END and COOLDOWN
# [delayed_gcode POST_PRINT_FANS]
# gcode:
#     # NEVERMORE_STOP                  ; turn off nevermore fans
#     # CHAMBER_FAN_STOP                ; turn off chamber fan
#     PRINT_FAN_STOP                  ; turn off print fan

# ##  park in front for maintenance / cleaning
# [gcode_macro PARKFRONT] 
# gcode:
#     CANOPY_LED_FULL                 ; set canopy light to full brightness
#     CG28                            ; home if not already homed
#     G90                             ; absolute positioning
#     G0 X150 Y10 Z100 F15000         ; move to position


# ##  park in rear for maintenance / cleaning
# [gcode_macro PARKREAR] 
# gcode:
#     CANOPY_LED_FULL                 ; set canopy light to full brightness
#     CG28                            ; home if not already homed
#     G90                             ; absolute positioning
#     G0 X150 Y300 Z100 F15000        ; move to position

# [gcode_macro PARK_PRE_HOME] 
# gcode:
#     G90                             ; absolute positioning
#     G0 X290 Y290 F15000             ; move to position

# ##  park over top of the purge bucket
# [gcode_macro PARKBUCKET] 
# gcode:
#     CG28                            ; home if not already homed
#     G90                             ; absolute positioning
#     G0 X299 Y300 Z15 F15000          ; move to position


# ##  activate heaters/fans/leds, runs a fast qgl, then parks over bed center
# [gcode_macro PARKPREHEAT] 
# gcode:
#     {% if printer.idle_timeout.state != "Printing" %}
#         CANOPY_LED_PRINT            ; set canopy light to print brightness
#         PREHEAT_ABS                 ; preheat profile
#         QGL                         ; basic quad gantry level
#         G90                         ; absolute positioning
#         G0 X150 Y150 Z50 F15000     ; move ab to center chamber warming position
#         STATUS_HEATING              ; stealthburner led control
#     {% else %}
#         { action_respond_info("PARK disabled while printing!") }
#     {% endif %}


# ##  activate heaters/fans then double-pass qgl
# [gcode_macro QGLPREHEAT] 
# gcode:
#     {% if printer.idle_timeout.state != "Printing" %}
#         CANOPY_LED_PRINT            ; set canopy light to print brightness
#         PREHEAT_ABS                 ; preheat profile
#         QGL                         ; basic quad gantry level
#         G90                         ; absolute positioning
#         G0 X140 Y305 Z25 F15000     ; move ab to rear chamber warming position
#         STATUS_HEATING              ; stealthburner led control
#     {% else %}
#         { action_respond_info("PARK disabled while printing!") }
#     {% endif %}


# ##  activate heaters/fans then double-pass qgl
# [gcode_macro QGTLPREHEAT] 
# gcode:
#     {% if printer.idle_timeout.state != "Printing" %}
#         CANOPY_LED_PRINT            ; set canopy light to print brightness
#         PREHEAT_ABS                 ; preheat profile
#         QGTL_LOCK                   ; quad gantry true level
#         G90                         ; absolute positioning
#         G0 X140 Y305 Z25 F15000     ; move ab to rear chamber warming position
#         STATUS_HEATING              ; stealthburner led control
#     {% else %}
#         { action_respond_info("PARK disabled while printing!") }
#     {% endif %}


##  enable chamber exhaust fan
# [gcode_macro CHAMBER_FAN_START] 
# gcode:
#     UPDATE_DELAYED_GCODE ID=POST_PRINT_FANS DURATION=0  ; cancel delayed fan shut off
#     SET_FAN_SPEED FAN=CHAMBER_FAN SPEED=0.15

##  turn off chamber exhaust fans
# [gcode_macro CHAMBER_FAN_STOP] 
# gcode:
#     SET_FAN_SPEED FAN=CHAMBER_FAN SPEED=0


##  enable nevermore fans
# [gcode_macro NEVERMORE_START] 
# gcode:
#     UPDATE_DELAYED_GCODE ID=POST_PRINT_FANS DURATION=0  ; cancel delayed fan shut off
#     SET_FAN_SPEED FAN=NEVERMORE SPEED=0.9

##  turn off nevermore fans
# [gcode_macro NEVERMORE_STOP] 
# gcode:
#     SET_FAN_SPEED FAN=NEVERMORE SPEED=0


##  enable part cooling fan
# [gcode_macro PRINT_FAN_START] 
# gcode:
#     UPDATE_DELAYED_GCODE ID=POST_PRINT_FANS DURATION=0  ; cancel delayed fan shut off
#     M106 S90  ; parts fan 35%

# ##  turn off part cooling fan
# [gcode_macro PRINT_FAN_STOP] 
# gcode:
#     M107  ; turn off parts fan


## easy button for pressure advance
[gcode_macro PRESSURE_ADVANCE]
gcode:
    {% set advance=params.ADVANCE|default(0.03) %}
    SET_PRESSURE_ADVANCE ADVANCE={advance}
 
## translate Marlin Linear Advance to Klipper PA value
[gcode_macro M900]
gcode:
    {% set advance=params.K|default(0.03) %}
    SET_PRESSURE_ADVANCE ADVANCE={advance}


##  i'm just here so i don't get typed
[gcode_macro FWRESTART] 
gcode:
    FIRMWARE_RESTART


[gcode_macro SHUTDOWN]
gcode:
    {action_call_remote_method("shutdown_machine")}


[gcode_macro REBOOT]
gcode:
    {action_call_remote_method("reboot_machine")}
