[gcode_macro PARK]
description: Park the toolhead at the back and retract some filament if the nozzle is hot
gcode:
    {% set E = params.E|default(3)|float %}

    {% set Px, Py = printer["gcode_macro _User_Variables"].park_position_xy|map('float') %}
    {% set park_lift_z = printer["gcode_macro _User_Variables"].park_lift_z %}

    {% set St = printer["gcode_macro _User_Variables"].travel_speed * 60 %}
    {% set Sz = printer["gcode_macro _User_Variables"].z_drop_speed * 60 %}

    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}

    {% set z_safe = act_z + park_lift_z %}
    {% if z_safe > max_z %}
        {% set z_safe = max_z %}
    {% endif %}

    SAVE_GCODE_STATE NAME=STATE_PARK

    # Move nozzle away from print while retracting
    # G91
    # G1 X-2 Y-2 E-3 F300

    # {% if printer.extruder.temperature > 185 %}
    #   G10
    # {% endif %}

    G90
    G1 Z{z_safe} F{Sz}

    G0 X{Px} Y{Py} F{St}
    RESTORE_GCODE_STATE NAME=STATE_PARK

##  park over bed center
# [gcode_macro PARK] 
# gcode:
#     CG28                            ; home if not already homed
#     G90                             ; absolute positioning
#     G0 X150 Y150 Z45 F15000         ; move to position


[gcode_macro PARK_FRONT]
gcode:
    SAVE_GCODE_STATE NAME=PARK_FRONT_STATE
    G90
    G1 X205 Y0.2 Z135 F10000
    RESTORE_GCODE_STATE NAME=PARK_FRONT_STATE
