# SHT 36 V2 BOARD PINS
[board_pins sht]
mcu: sht
aliases:
aliases_2209:
    EXT_EN=PA15,EXT_STEP=PB4,EXT_DIR=PB3,EXT_UART=PB5,EXT_DIAG=PB6
aliases_endstop:
    LIMIT_0=PA1,LIMIT_1=PA2
aliases_probe: 
    PROBE_1=PC15,PROBE_2=PB1
aliases_cnc_fans:
    FAN0=PB11,FAN1=PB10
aliases_thermistors:
    TH0=PA3,PT100=PB12,TC0=PA4
aliases_heaters:
    HE0=PA8
aliases_rgb:
    RGBLED=PB0
aliases_adxl:
    ADXL=PA9



[mcu sht]
canbus_uuid: 05888914ca52


[temperature_sensor sht]
sensor_type: temperature_mcu
sensor_mcu: sht

# [temperature_sensor chamber_temp]
# sensor_type: temperature_mcu
# sensor_mcu: sht


[heater_fan hotend_fan]
pin: sht:FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
# fan_speed: 0.9
# fan_speed: 1.0
# cycle_time: 0.03

[fan]
pin: sht:FAN0
kick_start_time: 0.5
# cycle_time: 0.15
off_below: 0.10


[extruder]
step_pin: sht:EXT_STEP
dir_pin: sht:EXT_DIR
enable_pin: !sht:EXT_EN
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200
pressure_advance: 0.4
# https://ellis3dp.com/Print-Tuning-Guide/articles/troubleshooting/small_infill_areas_overextruded.html#things-to-try
pressure_advance_smooth_time: 0.02
max_extrude_only_distance: 101
# nozzle_diameter: {% printer["gcode_macro _User_Variables"].nozzle_diameter|float %}
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: sht:HE0
sensor_pin: sht:TH0
sensor_type: PT1000
pullup_resistor: 1100
min_temp: 10
max_temp: 290
min_extrude_temp: 190
# Reduced value for 70w heater
# https://github.com/Klipper3d/klipper/pull/4646
# smooth_time: 0.5
# smooth_time: 0.1
# min_extrude_temp: 1
# control: pid


[tmc2209 extruder]
uart_pin: sht:EXT_UART
diag_pin: sht:EXT_DIAG
stealthchop_threshold: 0
run_current: 0.6
interpolate: false

# [neopixel sht_led]
# pin: sht:RGBLED
# chain_count: 8
# color_order: GRB
# initial_RED: 0.0
# initial_GREEN: 0.0
# initial_BLUE: 0.0

[probe]
pin: ^sht:LIMIT_1 # ^ pullup for limit switches like Klicky 

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal: performance


[adxl345]
cs_pin: sht:ADXL
spi_bus: spi2

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,40 
